---
title: "Purchase Racking"
description: "Purchase high-quality racking from North America’s trusted provider. Explore selective, mezzanine, and more for secure, large-scale storage."
preloadImg: "/assets/images/peter_nas.jpg"
permalink: "purchase-racking/"
eleventyNavigation:
  key: Purchase Racking
  order: 4
  parent: Racking
---

{% extends "layouts/base.html" %} {% block head %} {% endblock %} {% block body
%}

<!-- Racking Installation Landing -->

<section id="purchase-racking">
  <div class="container full-bleed">
    <div class="flex-group-row">
      <picture class="hero fade-in">
        <source media="(max-width: 600px)" srcset="" />
        <source media="(min-width: 601px)" srcset="" />
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/peter_nas.jpg"
          alt=""
          loading="eager"
          width="900px"
          height="1200px"
        />
      </picture>
      <div class="flex-group-col">
        <img src="/assets/images/nas.png" alt="North American Steel" />
        <div class="flex-text fade-in">
          <p class="topper">Purchase Racking</p>
          <h1 class="title">
            Need Reliable and Large-Scale Racking Solutions?
          </h1>
        </div>
        <p class="fade-in">
          NAS is Canada’s top choice for large-scale, high-quality racking
          systems. With extensive experience and a commitment to innovation, NAS
          provides the storage solutions that big projects demand. Our
          partnership with NAS ensures that your racking needs, from sourcing to
          setup, are handled with the utmost professionalism and expertise.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="nas">
  <div class="container">
    <div class="flex-group-col">
      <div class="flex-text fade-in">
        <p class="topper">North American Steel</p>
        <h1 class="title">The NAS Advantage</h1>
      </div>
      <ul class="card-list">
        <li class="card fade-in">
          <div class="flex-text">
            <h2>#1 in North America</h2>
            <p>
              NAS has the largest footprint and most advanced racking solutions
              on the continent.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M0,33c1,0,2,0,2.9,0c3.4,0,6.7,0,10.1,0c0.5,0,0.8,0.1,0.8,0.7c0.1,4.9,0.8,9.7,2.1,14.4c0.2,0.6,0,0.8-0.6,1
		c-2.6,0.7-5.1,1.7-7.5,3c-0.3,0.2-0.5,0.2-0.8-0.1c-3.3-4.2-5.5-8.8-6.5-14c-0.2-1.2-0.4-2.3-0.5-3.5c0-0.2-0.1-0.4-0.1-0.5
		C0,33.6,0,33.3,0,33z"
              />
              <path
                d="M0,30c0.2-1.2,0.3-2.4,0.5-3.6c0.7-3.9,2-7.5,4-10.9c0.8-1.3,1.6-2.5,2.5-3.6c0.2-0.3,0.4-0.4,0.7-0.2
		c2.5,1.3,5.1,2.4,7.8,3.1c0.3,0.1,0.5,0.2,0.4,0.6c-1.4,4.9-2.1,9.8-2.2,14.9c0,0.5-0.2,0.5-0.6,0.5c-4.4,0-8.8,0-13.2,0
		C0,30.5,0,30.3,0,30z"
              />
              <path
                d="M30.8,63.9c-1.7-0.4-3.3-1.1-4.7-2.2c-2.1-1.7-3.6-3.8-4.8-6.1c-0.8-1.5-1.5-3.1-2.1-4.7c-0.1-0.3-0.1-0.5,0.3-0.5
		c3.6-0.7,7.2-1.2,10.9-1.3c0.5,0,0.6,0.2,0.6,0.6c0,4.7,0,9.4,0,14.2C30.8,63.9,30.8,63.9,30.8,63.9z"
              />
              <path
                d="M33.1,63.9c0-4.7,0-9.3,0-14c0-0.9-0.1-0.8,0.8-0.8c3.6,0.1,7.1,0.5,10.6,1.3c0.2,0,0.5,0,0.3,0.4
		c-1.3,3.4-2.9,6.7-5.4,9.4c-1.7,1.8-3.6,3.2-6.1,3.6c0,0-0.1,0-0.1,0.1C33.2,63.9,33.2,63.9,33.1,63.9z"
              />
              <path
                d="M57.2,33.1c2.1,0,4.2,0,6.3,0c0.5,0,0.5,0.1,0.5,0.6c-0.3,5-1.6,9.7-4.1,14c-0.9,1.5-1.9,3-3,4.4c-0.2,0.2-0.3,0.3-0.6,0.1
		c-2.5-1.3-5.2-2.4-7.9-3.1C48,49,48,48.8,48.1,48.5c0.9-3.1,1.5-6.3,1.8-9.5c0.2-1.7,0.3-3.4,0.3-5.2c0-0.5,0.1-0.8,0.7-0.7
		C53,33.1,55.1,33.1,57.2,33.1z"
              />
              <path
                d="M57.1,30.8c-2.1,0-4.2,0-6.2,0c-0.4,0-0.6-0.1-0.6-0.6c-0.1-5-0.8-9.9-2.1-14.7c-0.1-0.5,0-0.6,0.4-0.7
		c2.7-0.7,5.2-1.8,7.7-3.1c0.3-0.2,0.5-0.2,0.7,0.1c3.3,4.2,5.5,8.9,6.5,14.1c0.3,1.4,0.4,2.9,0.5,4.3c0,0.4-0.1,0.5-0.5,0.5
		C61.4,30.8,59.3,30.8,57.1,30.8z"
              />
              <path
                d="M23.5,33.1c2.2,0,4.5,0,6.7,0c0.5,0,0.7,0.1,0.7,0.6c0,4.2,0,8.4,0,12.6c0,0.5-0.1,0.6-0.6,0.6c-3.9,0.1-7.8,0.5-11.6,1.4
		c-0.4,0.1-0.5,0-0.6-0.4c-1.3-4.7-2-9.4-2.1-14.2c0-0.5,0.1-0.6,0.6-0.6C18.9,33.1,21.2,33.1,23.5,33.1z"
              />
              <path
                d="M40.6,33.1c2.3,0,4.5,0,6.8,0c0.4,0,0.6,0.1,0.6,0.5c-0.1,4.8-0.8,9.6-2.1,14.3c-0.1,0.4-0.3,0.4-0.6,0.4
		c-3.8-0.8-7.6-1.3-11.5-1.4c-0.5,0-0.6-0.1-0.6-0.6c0-4.2,0-8.4,0-12.6c0-0.5,0.1-0.6,0.6-0.6C36.1,33.1,38.3,33.1,40.6,33.1z"
              />
              <path
                d="M23.4,30.8c-2.3,0-4.5,0-6.7,0c-0.6,0-0.7-0.2-0.7-0.7c0.1-4.8,0.8-9.5,2.1-14.1c0.1-0.4,0.2-0.5,0.6-0.4
		c3.8,0.8,7.7,1.3,11.6,1.4c0.4,0,0.5,0.2,0.5,0.5c0,4.3,0,8.5,0,12.8c0,0.4-0.1,0.5-0.5,0.5C28,30.8,25.7,30.8,23.4,30.8z"
              />
              <path
                d="M40.6,30.8c-2.3,0-4.6,0-6.9,0c-0.4,0-0.6-0.1-0.6-0.6c0-4.2,0-8.5,0-12.7c0-0.4,0.1-0.5,0.5-0.5c3.9-0.1,7.8-0.5,11.6-1.4
		c0.4-0.1,0.5,0,0.6,0.4c1.3,4.7,2,9.4,2.1,14.2c0,0.5-0.1,0.6-0.6,0.6C45.2,30.8,42.9,30.8,40.6,30.8z"
              />
              <path
                d="M30.9,7.4c0,2.3,0,4.5,0,6.8c0,0.3,0,0.5-0.5,0.5c-3.7-0.1-7.3-0.5-11-1.3c-0.2-0.1-0.5,0-0.3-0.4c1.2-3.1,2.6-6.1,4.8-8.6
		c1.6-1.9,3.5-3.4,5.9-4.1c1.1-0.3,1.1-0.3,1.1,0.8C30.9,3.2,30.9,5.3,30.9,7.4z"
              />
              <path
                d="M33.1,7.4c0-2.2,0-4.5,0-6.7c0-0.5,0-0.7,0.6-0.6c2.5,0.6,4.5,2.1,6.1,4c2.3,2.6,3.8,5.7,5,8.9c0.2,0.4-0.1,0.4-0.4,0.4
		c-3.3,0.7-6.6,1.2-10,1.2c-1.4,0-1.4,0-1.4-1.3C33.1,11.4,33.1,9.4,33.1,7.4z"
              />
              <path
                d="M24,62.9c-2.5-0.6-4.8-1.6-7-2.7c-2.9-1.5-5.4-3.4-7.7-5.7c-0.3-0.3-0.4-0.4,0.1-0.7c2.2-1.1,4.5-2,6.9-2.6
		c0.4-0.1,0.5,0,0.7,0.3c1.4,4.2,3.7,7.9,6.8,11C23.8,62.7,23.8,62.8,24,62.9z"
              />
              <path
                d="M40.2,1c1.7,0.4,3.3,1,4.8,1.7c3.7,1.6,6.9,3.9,9.8,6.7c0.4,0.3,0.4,0.5-0.1,0.7c-2.2,1.1-4.5,2-6.9,2.6
		c-0.3,0.1-0.5,0.1-0.6-0.3c-1.4-4.3-3.7-8-6.9-11.2C40.2,1.2,40.2,1.1,40.2,1z"
              />
              <path
                d="M23.9,1.1C23,2,22.1,3,21.4,4c-1.9,2.5-3.4,5.3-4.4,8.3c-0.1,0.4-0.3,0.6-0.8,0.4c-2.3-0.7-4.6-1.6-6.8-2.6
		C9,9.8,8.9,9.7,9.3,9.4c4-4,8.7-6.8,14.2-8.3C23.5,1.1,23.7,1,23.9,1.1z"
              />
              <path
                d="M40,63c0.6-0.7,1.1-1.2,1.6-1.8c2.4-2.8,4.2-5.9,5.4-9.4c0.2-0.5,0.3-0.6,0.9-0.5c2.5,0.7,4.8,1.6,7.2,2.9
		C50.9,58.5,45.9,61.3,40,63z"
              />
            </g>
          </svg>
        </li>
        <li class="card fade-in">
          <div class="flex-text">
            <h2>Unmatched Quality and Durability</h2>
            <p>
              NAS uses the highest quality materials and engineering standards
              to ensure durability and safety for every project.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M32,0.3c1.5,0,2.9,0.5,4.1,1.4c1.3,0.9,2.5,1.9,3.8,2.8c1.3,1,2.7,1.5,4.3,1.5c1.6,0,3.2,0.2,4.8,0.3
		c3,0.2,5.4,2.3,6.1,5.3c0.4,1.6,0.8,3.3,1.2,4.9c0.3,1.3,1,2.4,1.9,3.3c1.2,1.1,2.4,2.2,3.5,3.3c2.5,2.3,3,5.3,1.5,8.3
		c-0.6,1.1-1.1,2.3-1.7,3.3c-1.2,2-1.4,4-1,6.2c0.2,1.2,0.3,2.5,0.5,3.8c0.3,2.9-1.2,5.6-3.8,6.8c-1.5,0.7-3.1,1.4-4.7,2
		c-1.4,0.6-2.5,1.5-3.3,2.8c-0.8,1.3-1.7,2.6-2.5,3.9c-1.9,2.8-4.7,3.8-7.9,2.9c-1.6-0.5-3.2-1-4.8-1.4c-1.2-0.4-2.4-0.3-3.7,0
		c-1.9,0.5-3.7,1.3-5.7,1.6c-2.7,0.5-5-0.4-6.6-2.7c-1-1.4-1.9-2.8-2.8-4.3c-0.8-1.3-1.9-2.2-3.4-2.8c-1.4-0.6-2.9-1.2-4.3-1.8
		c-3.1-1.3-4.6-4.1-4.2-7.4c0.2-1.6,0.4-3.1,0.6-4.7c0.2-1.4-0.1-2.7-0.7-3.9c-0.7-1.4-1.5-2.9-2.2-4.3c-1.5-3-1-6,1.5-8.3
		c1.1-1.1,2.3-2.1,3.4-3.2c1.1-1,1.8-2.3,2.1-3.8c0.3-1.5,0.7-3.1,1.1-4.6c0.8-3.2,3.3-5.2,6.5-5.3c1.7-0.1,3.3-0.2,5-0.3
		c1.3-0.1,2.5-0.6,3.5-1.3c1.3-1,2.6-1.9,3.8-2.9C29,0.9,30.4,0.3,32,0.3z M53.8,32c0-12.1-9.7-21.8-21.8-21.8
		C20,10.1,10.2,20,10.2,32c0,12.1,9.9,21.9,21.9,21.8C44.1,53.8,53.8,44,53.8,32z"
              />
              <path
                d="M51.7,32c0,10.9-8.9,19.7-19.7,19.7C21.1,51.7,12.3,42.8,12.3,32c0.1-10.9,8.9-19.7,19.7-19.7C42.9,12.3,51.7,21.2,51.7,32
		z M22.9,28.5c-0.4,0-0.8,0.1-1.2,0.2c-1.9,0.9-2.3,3.3-0.8,4.8c2.1,2.1,4.1,4.2,6.2,6.2c1.5,1.5,3.1,1.5,4.6,0
		c2.5-2.5,4.9-5,7.4-7.4c1.4-1.4,2.7-2.7,4.1-4.1c1.6-1.7,0.8-4.4-1.4-4.9c-1.2-0.3-2.1,0.1-2.9,1c-3,3-6,6-8.9,9.1
		c-0.4,0.4-0.6,0.4-0.9,0c-1.3-1.3-2.6-2.6-3.9-3.9C24.5,28.8,23.8,28.5,22.9,28.5z"
              />
            </g>
          </svg>
        </li>
        <li class="card fade-in">
          <div class="flex-text">
            <h2>Comprehensive Product Range</h2>
            <p>
              From selective to mezzanine racking, NAS offers a wide range of
              solutions to meet diverse storage needs.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M31.3,37.8c0,0.3,0,0.4,0,0.6c0,5.6,0,11.2,0,16.8c0,0.4-0.1,0.6-0.5,0.8c-4.7,2.5-9.3,5-14,7.6c-0.1,0.1-0.2,0.1-0.3,0.1
		c-0.2-0.2-0.1-0.4-0.1-0.5c0-5.6,0-11.2,0-16.8c0-0.4,0-0.7,0.4-0.9c4.7-2.5,9.3-5,14-7.6C30.9,38,31.1,37.9,31.3,37.8z"
              />
              <path
                d="M32.7,37.8c2,1.1,3.9,2.1,5.8,3.1c2.9,1.5,5.7,3.1,8.6,4.6c0.4,0.2,0.6,0.5,0.6,1c0,5.6,0,11.1,0,16.7
		c0,0.6-0.1,0.7-0.6,0.4c-4.6-2.5-9.2-5-13.8-7.5c-0.3-0.1-0.5-0.2-0.5-0.6C32.7,49.6,32.7,43.8,32.7,37.8z"
              />
              <path
                d="M14.9,63.8c-2.1-1.2-4.2-2.3-6.2-3.4C6,59,3.3,57.6,0.6,56.1C0.2,55.9,0,55.8,0,55.3c0-5.7,0-11.4,0-17
		c0-0.1,0-0.3,0.1-0.4c0.2,0,0.4,0.1,0.6,0.2c4.6,2.5,9.2,5,13.8,7.4c0.3,0.2,0.5,0.3,0.5,0.7c0,5.7,0,11.5,0,17.2
		C15,63.6,14.9,63.7,14.9,63.8z"
              />
              <path
                d="M49,63.7c0-1.4,0-2.8,0-4.1c0-4.4,0-8.7,0-13.1c0-0.4,0-0.7,0.4-0.9c4.7-2.5,9.4-5.1,14.2-7.6c0.1,0,0.2-0.1,0.2-0.1
		c0.2,0.2,0.1,0.4,0.1,0.6c0,5.6,0,11.1,0,16.7c0,0.5-0.1,0.7-0.5,1c-4.6,2.5-9.2,5-13.8,7.4C49.5,63.6,49.3,63.8,49,63.7z"
              />
              <path
                d="M16.4,9.4c0.3,0,0.5,0.2,0.7,0.3c4.6,2.5,9.1,4.9,13.7,7.4c0.3,0.2,0.5,0.4,0.5,0.8c0,5.7,0,11.3,0,17c0,0.1,0,0.3,0,0.4
		c-0.2,0.1-0.4-0.1-0.6-0.2c-4.6-2.5-9.2-5-13.8-7.5c-0.3-0.2-0.6-0.3-0.5-0.8c0-5.7,0-11.4,0-17C16.4,9.7,16.4,9.5,16.4,9.4z"
              />
              <path
                d="M47.6,9.3c0,0.3,0,0.5,0,0.8c0,5.5,0,11,0,16.5c0,0.5-0.1,0.8-0.6,1c-4.6,2.4-9.1,4.9-13.7,7.3c-0.7,0.4-0.7,0.4-0.7-0.4
		c0-5.5,0-11,0-16.5c0-0.4,0-0.7,0.5-0.9c4.7-2.5,9.3-5,14-7.5C47.3,9.5,47.4,9.5,47.6,9.3z"
              />
              <path
                d="M46.8,8.1c-3.5,1.9-7,3.8-10.4,5.6c-1.3,0.7-2.6,1.4-4,2.1c-0.3,0.2-0.5,0.2-0.9,0c-4.7-2.6-9.4-5.1-14.1-7.7
		c-0.1,0-0.1-0.1-0.2-0.1c0.1-0.3,0.4-0.3,0.6-0.4c4.5-2.5,9.1-4.9,13.6-7.4c0.3-0.2,0.6-0.3,1-0.1c4.6,2.5,9.3,5,14,7.6
		C46.5,7.9,46.6,8,46.8,8.1z"
              />
              <path
                d="M63.2,36.6c-1.6,0.9-3.1,1.7-4.7,2.5c-3.2,1.7-6.4,3.4-9.6,5.2c-0.3,0.2-0.6,0.3-1,0.1c-4.7-2.6-9.4-5.1-14.1-7.6
		c-0.1,0-0.2-0.1-0.3-0.2c0.8-0.4,1.5-0.8,2.3-1.3c4-2.2,8.1-4.3,12.1-6.5c0.3-0.1,0.5-0.3,0.8-0.1c4.7,2.6,9.4,5.1,14.1,7.7
		C62.9,36.4,63,36.5,63.2,36.6z"
              />
              <path
                d="M0.8,36.6c1.3-0.7,2.5-1.4,3.7-2c3.5-1.9,7.1-3.8,10.6-5.7c0.3-0.2,0.6-0.3,0.9-0.1c4.7,2.6,9.4,5.1,14.2,7.6
		c0.1,0,0.1,0.1,0.2,0.2c-0.8,0.4-1.5,0.8-2.2,1.2c-4,2.2-8,4.3-12,6.5c-0.4,0.2-0.7,0.2-1.2,0c-4.6-2.5-9.1-5-13.7-7.4
		C1.2,36.8,1.1,36.7,0.8,36.6z"
              />
            </g>
          </svg>
        </li>
        <li class="card fade-in">
          <div class="flex-text">
            <h2>Expert Support and Guidance</h2>
            <p>
              Our team provides end-to-end support, from selecting the right
              system to overseeing a seamless installation.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M64,21.6c-0.3,0.6-0.7,1-1.2,1.5c-2.9,2.9-5.8,5.8-8.7,8.7c-0.4,0.4-0.5,0.3-0.9,0c-4-4-8-8-12-12.1
		c-1.2-1.2-2.1-1.2-3.3,0c-1.3,1.3-2.5,2.6-3.8,3.8c-2.5,2.4-6.3,2.7-9.2,0.8c-0.4-0.3-0.6-0.4-0.1-0.9c2.7-2.7,5.4-5.4,8-8
		c3-2.9,7-3.3,10.5-1c1.9,1.3,3.8,1.1,5.4-0.5c1-1,1.9-1.9,2.9-2.9c1-1,2-1,3,0c2.9,2.9,5.9,5.9,8.8,8.8c0.3,0.3,0.4,0.6,0.7,1
		C64,21,64,21.3,64,21.6z"
              />
              <path
                d="M29,29.3c3,0,5.7-1.1,7.9-3.2c0.8-0.8,1.6-1.5,2.3-2.3c0.2-0.2,0.4-0.3,0.6,0c3.8,3.9,7.7,7.7,11.6,11.6
		c0.2,0.2,0.3,0.3,0.3,0.5c0,2-1.8,4.4-3.6,5.1c-0.4,0.1-0.9,0.2-1.3,0.3c-1.2,0.2-1.7,0.9-1.8,2.1c-0.1,2.6-1.9,4.4-4.4,4.4
		c-1.4,0-2.1,0.7-2.2,2.1c-0.1,1.8-0.9,3.1-2.5,3.9c-1.5,0.7-2.9,0.5-4.3-0.4c-0.2-0.2-0.5-0.4-0.7-0.6c-10-10-20.1-20.1-30.1-30.1
		c-1.1-1.1-1.1-2.1,0-3.2c2.8-2.8,5.7-5.7,8.5-8.5c1.1-1.1,2.1-1.1,3.1,0c0.8,0.8,1.6,1.6,2.4,2.4c1.5,1.5,3.3,1.8,5.2,0.7
		c2.6-1.5,5.3-1.6,8.1-0.3c0.6,0.3,0.6,0.3,0.2,0.8c-2.6,2.6-5.1,5.1-7.7,7.7c-1.4,1.4-1.4,2.2,0,3.7C22.9,28.1,25.7,29.3,29,29.3z"
              />
            </g>
          </svg>
        </li>
        <li class="card fade-in">
          <div class="flex-text">
            <h2>Trusted by Leading Brands</h2>
            <p>
              With clients like Sobeys and Mercedes, NAS is the trusted choice
              for large-scale projects across North America.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M31.9,64c-3.3,0-6.5,0-9.8,0c-2.7,0-4.1-1.5-4.2-4.2c-0.2-5.7,2-10.1,6.9-13.1c8.7-5.3,20.1,0.3,21.3,10.4
		c0.1,1.2,0.1,2.4,0,3.6c-0.2,2-1.8,3.4-3.9,3.4C38.7,64,35.3,64,31.9,64z"
              />
              <path
                d="M32,29c4,0,7.2,3.2,7.2,7.1c0,4-3.2,7.2-7.2,7.2c-3.9,0-7.1-3.3-7.1-7.2C24.8,32.2,28,29,32,29z"
              />
              <path
                d="M26.3,25.3c0.4-1.6,0.8-3.2,1.3-4.8c0.2-0.7,0.1-1.1-0.5-1.6C25.9,18,24.7,17,23.5,16c-0.2-0.2-0.7-0.4-0.5-0.8
		c0.1-0.4,0.5-0.3,0.8-0.3c1.6-0.1,3.2-0.2,4.8-0.2c0.6,0,0.9-0.2,1-0.8c0.6-1.5,1.2-3.1,1.7-4.6C31.6,9,31.6,8.7,32,8.7
		c0.4,0,0.4,0.3,0.5,0.6c0.6,1.6,1.2,3.1,1.8,4.7c0.2,0.5,0.4,0.7,0.9,0.7c1.7,0.1,3.3,0.2,5,0.2c0.3,0,0.6,0,0.7,0.3
		c0.2,0.4-0.2,0.6-0.4,0.8c-1.3,1-2.5,2-3.8,3c-0.5,0.4-0.6,0.7-0.4,1.3c0.5,1.6,0.9,3.1,1.3,4.7c0.1,0.3,0.3,0.6-0.1,0.8
		c-0.3,0.2-0.6,0-0.8-0.2c-1.4-0.9-2.7-1.8-4.1-2.7c-0.5-0.3-0.8-0.3-1.3,0c-1.4,0.9-2.8,1.8-4.2,2.8c-0.2,0.1-0.4,0.3-0.7,0.1
		C26.3,25.7,26.2,25.5,26.3,25.3z"
              />
              <path
                d="M54.7,57.3c-1.9,0-3.8,0-5.7,0c-0.5,0-0.8-0.1-0.9-0.7c-0.3-2.5-1.2-4.9-2.7-7c-0.3-0.4-0.2-0.6,0.2-0.8
		c6-3.7,14.7-0.1,16.4,6.7c0.3,1.1-0.2,1.8-1.4,1.8C58.6,57.3,56.6,57.3,54.7,57.3z"
              />
              <path
                d="M9.3,57.3c-1.9,0-3.8,0-5.7,0c-1.4,0-1.9-0.7-1.5-2c2-6.8,10-10,16.2-6.6c0.5,0.3,0.6,0.5,0.3,1c-1.4,2.1-2.3,4.3-2.7,6.8
		c-0.1,0.6-0.3,0.8-0.9,0.8C13.1,57.3,11.2,57.3,9.3,57.3z"
              />
              <path
                d="M12.9,46c-3.1,0-5.6-2.5-5.7-5.6c0-3.2,2.5-5.7,5.7-5.7c3.2,0,5.7,2.5,5.7,5.7C18.5,43.5,16,46,12.9,46z"
              />
              <path
                d="M51.1,34.7c3.2,0,5.7,2.6,5.7,5.7c0,3.1-2.5,5.6-5.7,5.6c-3.2,0-5.7-2.5-5.7-5.7C45.5,37.2,48,34.7,51.1,34.7z"
              />
              <path
                d="M20.8,6.4c0-0.4,0.2-0.7,0.5-0.9c0.3-0.2,0.7-0.2,1,0.1C23.7,6.7,25,7.8,26.2,9c0.4,0.4,0.4,0.9,0,1.3
		c-0.4,0.4-0.9,0.5-1.4,0.1c-1.3-1.1-2.5-2.2-3.7-3.4C20.9,6.9,20.9,6.6,20.8,6.4z"
              />
              <path
                d="M38.5,10.7c-0.5-0.1-0.8-0.2-0.9-0.6c-0.2-0.4-0.1-0.8,0.2-1.1c1.2-1.2,2.5-2.3,3.8-3.4c0.4-0.4,0.9-0.3,1.3,0.1
		c0.4,0.4,0.5,0.9,0.1,1.3c-1.3,1.2-2.6,2.4-3.9,3.5C38.9,10.6,38.7,10.6,38.5,10.7z"
              />
              <path
                d="M33,3c0,0.6,0,1.1,0,1.7c0,0.6-0.3,1-1,1c-0.7,0-1-0.4-1-1.1c0-1.2,0-2.4,0-3.6C31,0.4,31.3,0,32,0c0.7,0,1,0.5,1,1.1
		C33,1.7,33,2.4,33,3z"
              />
            </g>
          </svg>
        </li>
        <li class="card fade-in">
          <div class="flex-text">
            <h2>Innovative Solutions</h2>
            <p>
              NAS continually innovates to offer racking solutions that improve
              efficiency and maximize storage space.
            </p>
          </div>
          <svg
            version="1.1"
            class="icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 64 64"
            style="enable-background: new 0 0 64 64"
            xml:space="preserve"
          >
            <g>
              <path
                d="M17.5,0c0.7,0.3,1.1,0.9,1.5,1.6c0.4,0.8,1,1.6,1.4,2.5c0.6,1,0.3,2.1-0.6,2.7c-0.9,0.6-2,0.2-2.7-0.8
		c-0.5-0.9-1-1.7-1.5-2.6C14.8,1.8,15,1,16.5,0C16.8,0,17.2,0,17.5,0z"
              />
              <path
                d="M47.5,0c0.1,0.1,0.2,0.1,0.2,0.2c1.1,0.6,1.4,1.6,0.8,2.7C48,3.9,47.4,5,46.8,6c-0.6,1-1.7,1.2-2.6,0.7
		c-0.9-0.5-1.2-1.6-0.7-2.5C44.1,3.1,44.8,2,45.4,1c0.3-0.5,0.7-0.7,1.1-0.9C46.8,0,47.2,0,47.5,0z"
              />
              <path
                d="M0,27.7c0.5-1.1,1.4-1.5,2.5-1.4c1,0.1,2,0,3,0c1.2,0,2,0.8,2,1.9c0,1.1-0.8,1.9-2,1.9c-1,0-2,0-3,0
		c-1.2,0.1-2-0.3-2.5-1.4C0,28.4,0,28.1,0,27.7z"
              />
              <path
                d="M64,28.7c-0.5,1.1-1.4,1.5-2.5,1.4c-1-0.1-2,0-3,0c-1.2,0-2-0.8-2-1.9c0-1.1,0.8-1.9,2-1.9c1,0,2,0,3,0
		c1.2-0.1,2,0.3,2.5,1.4C64,28.1,64,28.4,64,28.7z"
              />
              <path
                d="M33.9,48.1c0-1.3,0-2.6,0-3.9c0-0.3,0.1-0.6,0.2-0.8c2.2-3.3,4.4-6.6,6.6-9.9c0.2-0.2,0.4-0.5,0.6-0.7
		c1.1-1.1,2.1-2.1,3.2-3.2c0.8-0.8,0.9-2,0.1-2.7c-0.8-0.8-1.9-0.7-2.7,0.1c-0.7,0.6-1.3,1.3-1.9,1.9c-0.3,0.4-0.5,0.3-0.8,0
		c-0.6-0.7-1.3-1.3-1.9-1.9c-0.9-0.9-1.9-0.9-2.9,0c-0.7,0.7-1.3,1.3-2,2c-0.2,0.3-0.4,0.3-0.6,0c-0.6-0.7-1.3-1.3-1.9-1.9
		c-1-1-2-1-3,0c-0.6,0.6-1.3,1.2-1.9,1.9c-0.3,0.3-0.5,0.3-0.8,0c-0.6-0.7-1.3-1.3-1.9-1.9c-0.9-0.9-2-0.9-2.8-0.1
		c-0.8,0.8-0.8,1.9,0.1,2.8c2.7,2.4,4.8,5.4,6.8,8.4c1.1,1.8,2.3,3.5,3.5,5.2c0.2,0.3,0.3,0.6,0.3,0.9c0,2.6,0,5.2,0,7.7
		c0,0.4-0.1,0.6-0.5,0.6c-2.2,0-4.5,0-6.7,0c-0.3,0-0.5,0-0.6-0.4c-0.5-3.6-2.2-6.6-4.8-9.2c-3-2.9-4.9-6.4-5.7-10.5
		c-1.4-7.1,0.4-13.4,5.4-18.6c4.2-4.4,9.5-6.3,15.6-6.1c9.7,0.4,18,7.7,19.4,17.2c1,6.7-0.8,12.6-5.4,17.6c-1.3,1.4-2.8,2.8-3.7,4.6
		c-0.9,1.6-1.5,3.3-1.6,5.1c0,0.4-0.2,0.5-0.6,0.5c-2.2,0-4.4,0-6.6,0c-0.5,0-0.5-0.2-0.5-0.6C33.9,50.7,33.9,49.4,33.9,48.1z"
              />
              <path
                d="M32,56.3c2.9,0,5.9,0,8.8,0c0.5,0,0.6,0.1,0.6,0.6c0,1.3,0,2.6-0.6,3.8c-1,1.9-2.5,3.1-4.6,3.2c-2.8,0.1-5.6,0.2-8.4,0
		c-3-0.2-5.1-2.5-5.2-5.5c0-0.7-0.3-1.5,0.1-1.9c0.3-0.3,1.2-0.1,1.8-0.1C27,56.3,29.5,56.3,32,56.3z"
              />
              <path
                d="M28.1,31c0.3,0,0.4,0.2,0.5,0.2c0.7,0.6,1.3,1.3,1.9,1.9c1,0.9,2,0.9,3,0c0.6-0.6,1.3-1.3,1.9-1.9c0.3-0.3,0.4-0.3,0.7,0
		c1,1,1,1,0.2,2.1c-1.3,2-2.7,4-4,6c-0.3,0.4-0.4,0.4-0.7,0c-1.5-2.3-3-4.5-4.5-6.7c-0.2-0.3-0.2-0.5,0.1-0.8
		C27.6,31.5,27.8,31.2,28.1,31z"
              />
              <path
                d="M11.1,14.8c0,1.6-1.4,2.6-2.6,2c-1.3-0.6-2.5-1.3-3.7-2.1c-0.8-0.5-1-1.6-0.5-2.4c0.5-0.8,1.5-1.2,2.4-0.8
		c1.2,0.6,2.4,1.4,3.6,2.1C10.9,14,11.1,14.5,11.1,14.8z"
              />
              <path
                d="M57.8,11.4c0.9,0,1.6,0.5,1.9,1.2c0.3,0.8,0.1,1.7-0.6,2.1c-1.2,0.8-2.4,1.5-3.7,2.1c-0.8,0.4-1.8,0-2.3-0.8
		c-0.5-0.8-0.3-1.8,0.4-2.4c1.2-0.8,2.5-1.5,3.8-2.2C57.5,11.4,57.8,11.4,57.8,11.4z"
              />
              <path
                d="M11.1,41.6c0,0.5-0.3,1-0.9,1.3c-1.1,0.7-2.2,1.3-3.3,1.9c-0.9,0.5-2,0.2-2.5-0.7c-0.5-0.9-0.3-1.9,0.6-2.5
		c1.1-0.7,2.2-1.4,3.4-2C9.7,39,11.2,39.9,11.1,41.6z"
              />
              <path
                d="M52.9,41.3c0-1.3,1.4-2.3,2.6-1.7c1.2,0.6,2.4,1.3,3.6,2.1c0.8,0.5,1,1.6,0.5,2.4c-0.5,0.8-1.5,1.2-2.3,0.8
		c-1.3-0.6-2.5-1.4-3.7-2.1C53.1,42.5,52.9,41.9,52.9,41.3z"
              />
            </g>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="racking-types">
  <div class="container">
    <div class="flex-group-col">
      <div class="flex-text fade-in">
        <p class="topper">Systems</p>
        <h1 class="title">Racking Types</h1>
      </div>
      <ul class="card-list">
        <li class="card fade-in">
          <img src="/assets/images/services01.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Selective Racking</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              The most versatile racking system, offering direct access to every
              pallet. Ideal for maximizing flexibility and fast inventory
              turnover.
            </p>
          </div>
        </li>
        <li class="card fade-in">
          <img src="/assets/images/services02.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Double Deep</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              Boost storage density by placing pallets two rows deep. A
              cost-effective solution for high-volume inventory with fewer SKUs.
            </p>
          </div>
        </li>
        <li class="card fade-in">
          <img src="/assets/images/services03.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Drive-In</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              High-density storage solution that allows forklifts to drive
              directly into the racks, reducing aisle space and maximizing bulk
              storage.
            </p>
          </div>
        </li>
        <li class="card fade-in">
          <img src="/assets/images/services04.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Push-Back</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              Store pallets multiple rows deep on inclined rails for efficient,
              gravity-driven LIFO storage and quick inventory turnover.
            </p>
          </div>
        </li>
        <li class="card fade-in">
          <img src="/assets/images/services05.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Cantilever</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              Designed for long, bulky items like lumber or pipes, with open
              access and customizable arm lengths for easy storage and
              retrieval.
            </p>
          </div>
        </li>
        <li class="card fade-in">
          <img src="/assets/images/services06.png" alt="" />
          <div class="flex-group-col">
            <div class="flex-group-row">
              <h2 class="title">Mezzanine</h2>
              <!-- <svg
                version="1.1"
                class="chevron"
                text-rendering="geometricPrecision"
                image-rendering="optimizeQuality"
                shape-rendering="geometricPrecision"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 64 64"
                style="enable-background: new 0 0 64 64"
                xml:space="preserve"
              >
                <path
                  d="M1.5,22.2c-2-2-2-5.3,0-7.3c2-2,5.3-2,7.3,0L32,38.1l23.1-23.2c2-2,5.3-2,7.3,0c2,2,2,5.3,0,7.3L35.7,49.1c-2,2-5.3,2-7.3,0 L1.5,22.2z"
                />
              </svg> -->
            </div>
            <p>
              Create multi-level storage to maximize vertical space without
              expanding your warehouse footprint. Fully customizable to your
              needs.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% include "components/cta.html" %} {% endblock %}
