@use "../styles/index" as *;

#authority {
  background: url("/assets/images/authority01.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  .container {
    flex-direction: column;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.66);
    padding: 1.25rem;
    margin: 0;
    margin-top: 4rem;
    border-radius: 0.5rem;
    @include container-query(medium) {
      padding: 2rem;
    }
    .title {
      @include fluid-type(3);
      .emphasis {
        @include fluid-type(4);
        color: $brand-secondary;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        line-height: normal;
        white-space: nowrap;
      }
      @include container-query(medium) {
        @include fluid-type(4);
        .emphasis {
          @include fluid-type(5);
        }
      }
    }
  }

  .flex-group-row {
    align-items: stretch;
    flex-direction: column;
    margin: 2rem 0 0;
    .card {
      @include flex-group-col;
      background-color: $acc-cream;
      color: $acc-blue;
      padding: 2rem 1.5rem;
      border-radius: 1rem;
      justify-content: flex-start;
      gap: 1rem;
      text-align: center;
      transform: translateY(0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      flex: 1;
      svg {
        fill: $acc-blue;
        width: 128px;
        height: 128px;
      }
      ul {
        padding: 0 1rem;
        text-align: left;
        color: $dark;
      }
    }
  }
  @include container-query(medium) {
    .container {
      .overlay {
        margin: 2rem 40% 0 0;
        .emphasis {
          @include fluid-type(7);
        }
      }
      .flex-group-row {
        flex-direction: row;
        .card {
          transform: translateY(50%);
        }
      }
    }
  }
}
