@use "../styles/index" as *;

#brands {
  position: relative;
  background-color: $dark;
  z-index: 2;
  padding: 1rem 0 0;
  @include container-query(medium) {
    padding: 0;
  }

  .container {
    padding: 2rem;
    & > .flex-group-row {
      padding: 2rem 0;
    }
    .flex-text {
      flex: 1;
    }

    .brands-list {
      flex: 2.25;
      padding: 1rem;
      border-left: solid 1px $light;
      gap: 0.5rem;
      .flex-group-col {
        gap: 4rem;
      }
      img {
        max-width: 20vw;
        // @include transition-fast(transform);
        // &:hover {
        //   transform: scale(1.1);
        // }
      }
    }
  }

  &::before,
  &::after {
    display: none;
    content: "";
    position: absolute;
    left: -2rem;
    right: -2rem;
    height: 6rem;
    filter: blur(1rem);
    z-index: 2;
    pointer-events: none;
    background-color: $dark;
    @include container-query(medium) {
      display: block;
    }
  }
  &::before {
    top: -4rem;
  }
  &::after {
    bottom: -4rem;
  }
}
