@use "../styles/index" as *;

#brands {
  position: relative;
  background-color: $dark;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -2rem;
    right: -2rem;
    height: 6rem;
    filter: blur(1rem);
    z-index: 2;
    pointer-events: none;
  }
  &::before {
    top: -4rem;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.75), rgb(0, 0, 0));
  }
  &::after {
    bottom: -4rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgb(0, 0, 0));
  }

  .scrolling-brands {
    display: flex;
    overflow: hidden;
    padding: 4rem;
    .scrolling-inner {
      display: flex;
      gap: 3rem;
      animation: marquee 30s linear infinite;
      align-items: center;
    }
  }
}
