@use "../styles/index" as *;

#cta {
  background-color: $acc-midgray;
  .flex-group-row {
    justify-content: center;
    flex-direction: column;
    .flex-group-col {
      align-items: flex-start;

      .flex-text {
        align-items: flex-start;
      }
    }
  }

  #contact-form {
    background-color: $brand-primary;
    padding: 2rem 3rem;
    border-radius: 1rem;
    width: 90%;
    @include drop-shadow;
    .flex-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;
      .flex-group-row {
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      label {
        @include fluid-type(1);
        font-family: $header-font;
        span {
          color: $acc-yellow;
        }
      }
      input {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        padding: 0.75rem 1rem;
        border: none;
      }
    }
  }
  @include container-query(medium) {
    .flex-group-row {
      flex-direction: row;
      .flex-group-col {
        flex: 1 0 auto;
        max-width: 50%;
      }
    }
    #contact-form {
      width: auto;
      max-width: 40%;
    }
  }
}
