@use "../styles/index" as *;

#gallery-intro {
  background-color: $acc-midgray;
  .flex-group-col {
    align-items: flex-start;
    width: 100%;
  }
}

#gallery {
  background-color: $acc-darkgray;
  .gallery-grid {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-flow: dense;
    img {
      width: 100%;
      height: 216px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.2s ease;
      border-radius: 0.25rem;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

/* ========== LIGHTBOX ========== */
#lightboxModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100vw;
  &.hidden {
    display: none;
  }
  #lightboxContent {
    position: relative;
    max-width: 90vw;
    max-height: 75dvh;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    @include container-query(medium) {
      width: 75%;
    }
    img {
      max-width: 80%;
      width: 100%;
      height: 100%;
      display: block;
      margin: auto;
    }
    #lightboxClose {
      position: absolute;
      width: 32px;
      height: 32px;
      top: -4rem;
      right: 2rem;
      filter: drop-shadow(2px 2px 4px rgb(0, 0, 0, 1));
      fill: $light;
      cursor: pointer;
      @include container-query(medium) {
        width: 36px;
        height: 36px;
        top: -5rem;
        right: 9.25rem;
      }
    }
  }
}
