@use "../styles/index" as *;

#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  // ^ so the mobile menu stacks correctly
  container-type: inline-size;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  @include transition-slow(transform);
  background-color: rgba(0, 0, 0, 0.5);

  .backdrop {
    position: absolute;
    inset: 0;
    height: 200%;

    backdrop-filter: blur(1rem);
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
    pointer-events: none;
  }

  .backdrop-edge {
    /* Set this to whatever you want for the edge thickness: */
    $thickness: 2px;

    position: absolute;
    inset: 0;
    /*
      Only a few pixels will be visible, but we’ll
      set the height by 100% to include nearby elements.
    */
    height: 100%;
    /*
      Shift down by 100% of its own height, so that the
      edge stacks underneath the main <header>:
    */
    transform: translateY(100%);
    background: hsl(0deg 0% 100% / 0.1);
    backdrop-filter: blur(8px) brightness(120%);
    pointer-events: none;
    /*
      We mask out everything aside from the first few
      pixels, specified by the --thickness variable:
    */
    mask-image: linear-gradient(
      to bottom,
      black 0,
      black $thickness,
      transparent $thickness
    );
  }

  &.scrolledDown {
    transform: translateY(-100%);
  }

  .container {
    width: 100%;
    container-type: normal;
  }

  .logo {
    width: 6.5rem;
    display: flex;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav-bar {
    width: 100%;
    @include flex-center;
    justify-content: space-between;

    .fries-btn {
      @include flex-center;
      cursor: pointer;
      background: none;
      border: none;
      flex-direction: column;
      width: 4rem;
      height: 4rem;
      gap: 8px;
      padding: $spacing-small;
      position: relative;
      z-index: 3;

      &:hover {
        :nth-child(1) {
          transform: translateX(0.5rem);
        }

        :nth-child(2) {
          width: 55%;
          transform: translateX(-0.5rem);
        }

        :nth-child(3) {
          transform: translateX(-0.25rem);
        }
      }

      .fries {
        display: block;
        width: 100%;
        height: 5px;
        background-color: $dark;
        border-radius: $border-radius-medium;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        align-self: flex-end;
        pointer-events: none;
      }

      :nth-child(2) {
        width: 75%;
      }
    }

    #nav-menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(45vw + 4rem);
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur($spacing-small);
      list-style: none;
      font-size: $fs-m;
      font-weight: $bold-weight;
      text-align: right;
      padding: 90px 2rem 2rem;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      pointer-events: none;
      z-index: 2;
      justify-content: flex-end;
      @include container-query(large) {
        font-size: $fs-s;
      }

      .nav-item.contact {
        display: flex;
        gap: 0.5rem;
        .tel {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          svg {
            fill: $light;
          }
        }
      }

      li {
        opacity: 0;

        a:not(:hover) {
          color: $light;
        }
      }

      .nav-wrapper {
        display: flex;
        gap: $spacing-xsmall;
      }

      @for $i from 1 through 3 {
        .nav-wrapper:has([id$="-dropdown-toggle"]:checked)
          ~ [id$="-dropdown"]
          > li:nth-child(#{$i}) {
          transition-delay: 0 + ($i * 0.1s);
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      @for $i from 3 through 1 {
        [id$="-dropdown"] > li:nth-child(#{$i}) {
          transition: transform (0.4s - ($i * 0.1s)) ease,
            opacity (0.3s - ($i * 0.1s)) ease;
          pointer-events: none;
          transform: translateY(calc(-1.5em * $i));
        }
      }
    }

    #menu-toggle:checked ~ #nav-menu {
      transform: translateX(0);
      pointer-events: auto;

      @for $i from 1 through 5 {
        & > li:nth-child(#{$i}) {
          animation: slide-fade-in 0.3s forwards;
          animation-delay: 0.3s + ($i * 0.1s);
        }
      }
    }

    #menu-toggle:checked ~ .fries-btn {
      .fries {
        background-color: $light;
      }

      :nth-child(1) {
        transform: rotate(45deg) translateY(9px) translateX(9px);
      }

      :nth-child(2) {
        transform: translateX(-4rem);
        opacity: 0;
      }

      :nth-child(3) {
        transform: rotate(-45deg) translateY(-9px) translateX(9px);
      }
    }

    #nav-contact {
      display: none;
    }

    @include container-query(medium) {
      .fries-btn {
        display: none;
      }

      #nav-contact {
        display: block;
      }
      #mobile-nav-contact {
        display: none !important;
      }

      #nav-menu {
        height: auto;
        flex-direction: row;
        gap: $spacing-large;
        flex: 1;
        position: relative;
        background-color: transparent;
        backdrop-filter: none;
        transition: none;
        transform: none;
        padding: 0;
        pointer-events: auto;
        color: $light;

        & > li {
          opacity: 1;

          a:not(:hover) {
            color: $light;
            transition: opacity 0s;
          }
        }

        [id$="-dropdown"],
        .dropdown-toggle {
          position: absolute;
        }
      }
    }
  }
}
