@use "../styles/index" as *;

#nas {
  background-color: $acc-blue;

  .flex-group-col {
    align-items: flex-start;

    .card-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;

      .card {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem 2rem;
        background-color: $acc-darkgray;
        border-left: $nas-red 0.5rem solid;
        border-radius: 0.5rem;
        justify-content: space-between;
        list-style: none;
        @include transition-fast(scale);
        &:hover {
          scale: 1.05;
        }
        h2 {
          @include fluid-type(2);
        }

        .flex-text {
          color: $light;
          align-items: flex-start;
        }
        svg {
          width: 64px;
          height: 64px;
          fill: #fff;
          margin-left: 0.25rem;
        }
      }
    }
  }
  @include container-query(medium) {
    .flex-group-col {
      .card-list {
        grid-template-columns: repeat(2, 1fr);
        .card {
          flex-direction: row;
          align-items: center;
          gap: 0;
          h2 {
            @include fluid-type(3);
          }
          svg {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
