@use "../styles/index" as *;

#purchase-racking {
  background-color: $acc-darkgray;
  padding: 0;
  .flex-group-row {
    flex-direction: column;
    picture {
      width: 100%;
    }
    .hero img {
      border-right: none;
      border-bottom: $nas-red 0.5rem solid;
      max-height: 20rem;
    }
    .flex-group-col {
      padding: 1.5rem 0.75rem;
      align-items: flex-start;
      img {
        width: 300px;
      }
      & > *:not(img) {
        padding-right: 0;
      }
      ul {
        margin-left: 1rem;
      }
    }
  }
  @include container-query(medium) {
    .flex-group-row {
      flex-direction: row;
      picture {
        width: auto;
      }
      .hero img {
        border-right: $nas-red 0.5rem solid;
        border-bottom: none;
        max-height: 48rem;
      }
    }
  }
  @include container-query(large) {
    .flex-group-col {
      padding: 0;
      img {
        width: 300px;
      }
      & > *:not(img) {
        padding-right: 12rem;
      }
    }
  }
}
