@use "../styles/index" as *;

#racking-installation {
  background-color: $acc-darkgray;
  padding: 0;
  .flex-group-row {
    flex-direction: column;
    picture {
      width: 100%;
    }
    .hero img {
      border-right: $acc-yellow 0.5rem solid;
      max-height: 20rem;
      object-position: top;
    }
    .flex-group-col {
      padding: 1.5rem 0.75rem;
      align-items: flex-start;
      ul {
        list-style: none;
        li {
          margin-bottom: 1rem;
        }
      }
      img {
        width: 300px;
      }
      & > *:not(img) {
        padding-right: 0;
      }
    }
  }
  @include container-query(medium) {
    .flex-group-row {
      flex-direction: row;
      picture {
        width: auto;
      }
      .hero img {
        border-right: $acc-yellow 0.5rem solid;
        max-height: 60rem;
        height: 56rem;
        object-position: top;
      }
    }
  }
  @include container-query(large) {
    .flex-group-col {
      img {
        width: 300px;
      }
      & > *:not(img) {
        padding-right: 8rem;
      }
    }
  }
}
