@use "../styles/index" as *;

#services {
  background-color: $brand-primary;
  padding: 30rem 0 0.75rem;
  .grid-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    margin-top: 2rem;
    picture {
      position: relative;
      display: inline-block;
      overflow: hidden;
      img {
        transition: filter 0.3s ease;
        border-radius: 0;
      }
      &:hover,
      &:focus-within {
        img {
          filter: brightness(0.5);
        }
        span {
          opacity: 1;
        }
      }
    }
    span {
      font-size: $fs-l;
      font-weight: $bold-weight;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      color: #fff;
      padding: 0.5em 1em;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}
